*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

input, button {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img, svg {
  display: block;
  max-width: 100%;
}
